<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-0">
        <title>Some Website</title>
        <body>
            {{> header}}
            <p>Some text here</p>

            {{> footer}}
        </body>
    </head>
</html>